<header class="container-fluid">
  <div id="head-header" class="row justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
    <h4 class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-3"><a class="title" routerLink="/songs">{{title}}</a></h4>
    <div class="col-2 col-sm-1 col-md-1 col-lg-1 col-xl-1"><img class ="img" [src]="imgPathTrumpet"/></div>
  </div>

  <nav class="row navbar navbar-expand d-flex justify-content-between shadow p-3 mb-5 bound">
      <div class="col-8 col-sm-6 col-md-6 col-lg-5 col-xl-5 input-group bound">
        <input #ListingSearch [ngModel]="searchValue" (ngModelChange)="onChange($event)" type="text" class="form-control" placeholder="Rechercher" aria-describedby="basic-addon1">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="onChange(ListingSearch.value)">
            <span>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
              </svg>
            </span>
          </button>
        </div>
      </div>

      <select class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2 form-control bound">
        <option *ngFor='let language of languages'>{{language}}</option>
      </select>
  </nav>
</header>
