<div>
  <app-header></app-header>

  <div class="container">
    <div class="row mb-4">
      <button class="btn btn link col-2" (click)="onBack()"><img classe ="img" [src]="imgPathBack"/></button>
    </div>

    <div class="row row-cols-3 d-flex justify-content-around">
      <div class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-5">
        <div>
          <h4>{{song.title}}</h4>
        </div>

        <div *ngFor="let verse of song.verses">
          <p [innerHTML]="verse.text"><P>
          <p [innerHTML]="song.choir"><p>
        </div>
      </div>
    </div>
  </div>

</div>
